# COPY THIS FILE TO ".env" AND ADJUST ACCORDING TO YOUR WISHES 
#
# SOURCE ME.  DO NOT RUN AS A SCRIPT!
# e.g. source ./env
#
RESOURCE_GROUP="CHANGEME"
LOCATION="eastus"
VNET_NAME="vnet-private-network"
CLUSTER_NAME="private-testing-cluster"
VM_SIZE="Standard_B2s"
NODE_COUNT=4
NODE_SUBNET_NAME="snet-aks-nodes"
BASTION_NAME="bastion-secure-gateway"
BASTION_PUBLIC_IP_NAME="pip-bastion"
